*{
    font-family: 'Roboto Serif', serif;
}

.logoPuglia{
    width: 195px;
    height: 100px;
    text-align: center;
}

.nav-link{
    text-transform: uppercase;
    font-size: 22px;
}

.container{
    max-width: 1000px;
}

.cardImg{
    width: 255px;
}

.card{
    margin-top: 25px;
    margin-bottom: 25px;
}

.contentWrapper{
    padding-left: 65px;
}



#filterMenu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 101px;
    background-color: #2F4858;
}

#main{
    padding-top: 100px;
}

#headerMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 10;
    padding-top: 0;
    background-color: #fff;
}