*{
    font-family: 'Roboto Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21.88px;
    line-height: 26px;
    color: #2F4858;
}

.logoPuglia{
    width: 160px;
    height: 70px;
    text-align: center;
}

.nav-link{
    text-transform: uppercase;
    font-size: 22px;
    
}

#headerMenu{
       left: 0px;
       top: 0px;
       z-index: 10;
       padding-top: 0;
       background-color: #fff;
   }

   a{
    text-decoration: none;
}

.container{
    width: 832px;
    height: 884px;
    /*right: 190px;*/
    
}

.cardImg{
    width: 255px;
    height: 244px;
    padding-right: 10px;
}

.card1{
    margin-top: 25px;
    margin-bottom: 25px;
    left: 3%;
    right: 3%;
    top: 2%;
    bottom: 64%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    }

.card2{
    margin-top: 25px;
    margin-bottom: 25px;
    left: 3%;
    right: 3%;
    top: 36%;
    bottom: 30%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    }

    .vector .vaiA{

        left: 99%;
        right: 1%;
        top: 79%;
        bottom: 12%;
        background: #FFFFFF;
        transform: rotate(90deg);
    }

    .buttonWrapper{
        padding-right: 10px;
        margin-top: 90px;
    }

    .buttonWrapper .vaiA{
        background-color: #33658A;
        border-radius: 20px;
        color: #fff;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 9px;
        font-family: 'Roboto';
        font-size: normal;
        font-weight: 400;
        top: 183px; 
        left: 574px;
    }

     @media only screen and (max-width: 468px) {

        .cardImg{
            width: auto;
        }

        /*#headerMenu{
            display: flex;
            flex-direction: row;
            margin: auto 0;
        } */
      } 