*{
    font-family: 'Roboto Serif', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #2F4858;
}

.logoPuglia{
    width: 160px;
    height: 70px;
    text-align: center;
}

.nav-link{
    text-transform: uppercase;
    font-size: 20px;
    
}

#headerMenu{
       left: 0px;
       top: 0px;
       z-index: 10;
       padding-top: 0;
       background-color: #fff;
   }

   a{
    text-decoration: none;
}

.container{
    width: 832px;
    height: 884px;
    /*right: 190px;*/
    
}

.cardImg{
    width: 255px;
    height: 244px;
    padding-right: 10px;
}

.card1{
    margin-top: 25px;
    margin-bottom: 25px;
    left: 3%;
    right: 3%;
    top: 2%;
    bottom: 64%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    }

.card2{
    margin-top: 25px;
    margin-bottom: 25px;
    left: 3%;
    right: 3%;
    top: 36%;
    bottom: 30%;

    border: 1px solid rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    }

    .vector .vaiA{

        left: 99%;
        right: 1%;
        top: 79%;
        bottom: 12%;
        background: #FFFFFF;
        transform: rotate(90deg);
    }

    .buttonWrapper{
        padding-right: 10px;
        padding-top: 45px;
    }

    .buttonWrapper .vaiA{
        background-color: #33658A;
        border-radius: 20px;
        color: #fff;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 9px;
        font-family: 'Roboto';
        font-size: normal;
        font-weight: 400;
        top: 183px; 
        left: 574px;
    }

    .logoPanetti{
        width: 160px;
        height: 70px;
        text-align: right;
    }

     @media only screen and (max-width: 468px) {

        .cardImg{
            width: auto;
        }

        /*#headerMenu{
            display: flex;
            flex-direction: row;
            margin: auto 0;
        } */
      } 


section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}




.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;

	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}







.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
}

	.footer-distributed .footer-center{
		display: block;
		width: 100%;
		
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}


